In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
# 엑셀 파일 읽기

df = pd.read_excel('animals.xlsx', encoding='utf-8') # Shift+Tap!

<br>

#### 1. DataFrame 둘러보기

In [3]:
df

,name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
5,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
6,calf,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1,1
7,carp,0,0,1,0,0,1,0,1,1,0,0,1,0,1,1,0,4
8,catfish,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
9,cavy,1,0,0,1,0,0,0,1,1,1,0,0,4,0,1,0,1
10,cheetah,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
11,chicken,0,1,1,0,1,0,0,0,1,1,0,0,2,1,1,0,2
12,chub,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
13,clam,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,7
14,crab,0,0,1,0,0,1,1,0,0,0,0,0,4,0,0,0,7
15,crayfish,0,0,1,0,0,1,1,0,0,0,0,0,6,0,0,0,7
16,crow,0,1,1,0,1,0,1,0,1,1,0,0,2,1,0,0,2
17,deer,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
18,dogfish,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,4
19,dolphin,0,0,0,1,0,1,1,1,1,1,0,1,0,1,0,1,1
20,dove,0,1,1,0,1,0,0,0,1,1,0,0,2,1,1,0,2
21,duck,0,1,1,0,1,1,0,0,1,1,0,0,2,1,0,0,2
22,elephant,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
23,flamingo,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,1,2
24,flea,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
25,frog,0,0,1,0,0,1,1,1,1,1,0,0,4,0,0,0,5
26,frog,0,0,1,0,0,1,1,1,1,1,1,0,4,0,0,0,5
27,fruitbat,1,0,0,1,1,0,0,1,1,1,0,0,2,1,0,0,1
28,giraffe,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
29,girl,1,0,0,1,0,0,1,1,1,1,0,0,2,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,rhea,0,1,1,0,0,0,1,0,1,1,0,0,2,1,0,1,2
72,scorpion,0,0,0,0,0,0,1,0,0,1,1,0,8,1,0,0,7
73,seahorse,0,0,1,0,0,1,0,1,1,0,0,1,0,1,0,0,4
74,seal,1,0,0,1,0,1,1,1,1,1,0,1,0,0,0,1,1
75,sealion,1,0,0,1,0,1,1,1,1,1,0,1,2,1,0,1,1
76,seasnake,0,0,0,0,0,1,1,1,1,0,1,0,0,1,0,0,3
77,seawasp,0,0,1,0,0,1,1,0,0,0,1,0,0,0,0,0,7
78,skimmer,0,1,1,0,1,1,1,0,1,1,0,0,2,1,0,0,2
79,skua,0,1,1,0,1,1,1,0,1,1,0,0,2,1,0,0,2
80,slowworm,0,0,1,0,0,0,1,1,1,1,0,0,0,1,0,0,3
81,slug,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
82,sole,0,0,1,0,0,1,0,1,1,0,0,1,0,1,0,0,4
83,sparrow,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2
84,squirrel,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,0,1
85,starfish,0,0,1,0,0,1,1,0,0,0,0,0,5,0,0,0,7
86,stingray,0,0,1,0,0,1,1,1,1,0,1,1,0,1,0,1,4
87,swan,0,1,1,0,1,1,0,0,1,1,0,0,2,1,0,1,2
88,termite,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
89,toad,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
90,tortoise,0,0,1,0,0,0,0,0,1,1,0,0,4,1,0,1,3
91,tuatara,0,0,1,0,0,0,1,1,1,1,0,0,4,1,0,0,3
92,tuna,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,4
93,vampire,1,0,0,1,1,0,0,1,1,1,0,0,2,1,0,0,1
94,vole,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,0,1
95,vulture,0,1,1,0,1,0,1,0,1,1,0,0,2,1,0,1,2
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [10]:
df.head() # 머리!

,name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [11]:
df.tail() # 꼬리!

,name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

<br>

#### 2. DataFrame에서 일부 [ 행 ] 꺼내기

In [19]:
df.loc[3]

name        bear
hair           1
feathers       0
eggs           0
milk           1
airborne       0
aquatic        0
predator       1
toothed        1
backbone       1
breathes       1
venomous       0
fins           0
legs           4
tail           0
domestic       0
catsize        1
type           1
Name: 3, dtype: object

In [20]:
type(df.loc[3])

pandas.core.series.Series

In [21]:
df.loc[[3]]

,name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1

In [23]:
df.loc[[3, 6, 8]]

,name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
6,calf,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1,1
8,catfish,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4

In [9]:
df.loc[3:6, 'name':'feathers']

      name  hair  feathers
3     bear     1         0
4     boar     1         0
5  buffalo     1         0
6     calf     1         0

In [24]:
df.iloc[3:5, 0:3]

   name  hair  feathers
3  bear     1         0
4  boar     1         0

<br>

#### 3. DataFrame에서 일부 [ 열 ] 꺼내기

In [8]:
df['name'].head() # 하나의 열 출력하기

0    aardvark
1    antelope
2        bass
3        bear
4        boar
Name: name, dtype: object

In [10]:
df[['name', 'hair', 'feathers']].head() # 여러개의 열 출력하기

       name  hair  feathers
0  aardvark     1         0
1  antelope     1         0
2      bass     0         0
3      bear     1         0
4      boar     1         0

<br>

#### 4. DataFrame 다루기 with Advanced functions

In [14]:
# 기존 df 에서 일부 열만 떼네어 새로운 df 만들기

df_new = df[['name', 'hair', 'feathers', 'eggs', 'milk', 'type']] # 에러를 고쳐보세요!

In [12]:
df_new.head()

       name  hair  feathers  eggs  milk  type
0  aardvark     1         0     0     1     1
1  antelope     1         0     0     1     1
2      bass     0         0     1     0     4
3      bear     1         0     0     1     1
4      boar     1         0     0     1     1

In [15]:
# hair 열에 1을 더한 새로운 열을 new_hair 로 추가하기

df_new['new_hair'] = df_new['hair'].apply(lambda x : x+1) # '적용하다' 를 영어로?
df_new.head()

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

       name  hair  feathers  eggs  milk  type  new_hair
0  aardvark     1         0     0     1     1         2
1  antelope     1         0     0     1     1         2
2      bass     0         0     1     0     4         1
3      bear     1         0     0     1     1         2
4      boar     1         0     0     1     1         2

In [16]:
# Type 을 index 로 하는 새로운 df 만들기 (엑셀의 pivot table 과 유사)

pivot_df = pd.pivot_table(df_new, index='type', aggfunc=np.sum) # Shift+Tab!

In [17]:
pivot_df

      eggs  feathers  hair  milk  new_hair
type
1        1         0    39    41        80
2       20        20     0     0        20
3        4         0     0     0         5
4       13         0     0     0        13
5        4         0     0     0         4
6        8         0     4     0        12
7        9         0     0     0        10

In [18]:
# 열 삭제하기

del pivot_df['new_hair'] # '삭제하다'의 앞 3글자
pivot_df

      eggs  feathers  hair  milk
type
1        1         0    39    41
2       20        20     0     0
3        4         0     0     0
4       13         0     0     0
5        4         0     0     0
6        8         0     4     0
7        9         0     0     0

In [20]:
# 행 삭제하기 

pivot_df = pivot_df.drop([3]) # Database 에서 data point 를 drop!
pivot_df

      eggs  feathers  hair  milk
type
1        1         0    39    41
2       20        20     0     0
4       13         0     0     0
5        4         0     0     0
6        8         0     4     0
7        9         0     0     0

In [21]:
# 열 이름 바꾸기

# '이름을 바꿔주다'?
pivot_df.rename(columns = {'eggs':'산란',
                           'feathers':'깃털'}, inplace=True) # inplace 옵션 == 덮어쓰기 여부

pivot_df.head()

      산란  깃털  hair  milk
type
1      1   0    39    41
2     20  20     0     0
4     13   0     0     0
5      4   0     0     0
6      8   0     4     0

In [22]:
# 산란 수 기준으로 정렬하기

pivot_df.sort_values(by='산란', inplace=True) # inplace=True : 덮어쓰기
pivot_df.head()

      산란  깃털  hair  milk
type
1      1   0    39    41
5      4   0     0     0
6      8   0     4     0
7      9   0     0     0
4     13   0     0     0

In [23]:
# 산란 수 기준으로 내림차순 정렬하기

pivot_df.sort_values(by='산란', ascending=False, inplace=True) 
pivot_df.head()

      산란  깃털  hair  milk
type
2     20  20     0     0
4     13   0     0     0
7      9   0     0     0
6      8   0     4     0
5      4   0     0     0